<div id="main-app">
  <h2>Readsgood</h2>

  <ul>
    <% @books.each do |book| %>
      <h4>
        <%= book.title %>
      </h4>
      <p>
        <%= book.author %>
      </p>
    <% end %>
  </ul>
</div>
