
// Font
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:400,600");

// Color Palette
$offwhite: #ECF0F1;
$red: #3C2200;
$lightblue: #3498DB;
$mediumblue: #2980B9;
$navyblue: #00263C;
$main: #FFFFFF;
$black: #323232;
$teal: #044B53;
$chartred: #6F270B;

// Nav and background colors

// Text
$h1-font: 'Merriweather', serif;
$main-font: 'Open Sans', sans-serif;
$highlight-color: #3498DB;
